@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --white-text: rgb(255, 255, 255);
    --blue-text: rgb(31, 63, 91);
    --light-red: rgb(255, 61, 84);
    --light-orange: rgb(255, 143, 112);
    --dark-grey: rgb(37, 37, 45);
    --grey-blue: rgb(44, 45, 63);
    --lighter-blue: rgb(63, 65, 100);
}

/* GENERAL STYLES  */
* {
    padding: 0;
    margin: 0;
}
.container-fluid {padding: 0;}
body {
    background-color: var(--white-text);
    font-size: 16px;
    color: var(--blue-text);
    font-family: "Ubuntu", sans-serif;
    line-height: 30px;
}
header, .second-sec, footer {
    padding: 50px 170px;
}
h1 {
    font-weight: 400;
    font-size: 47px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}
/* HEADER */
header {
    color: var(--white-text);
    background: url(images/bg-pattern-intro.svg) , linear-gradient(to right, var(--light-orange), var(--light-red));
    background-size: 200%, contain;
    background-position-x: 25%;
    background-position-y: 50%;
    border-radius: 0 0 0 100px;
}
.header-logo {padding-right: 30px;}
.header-text {padding: 100px;}
.login-btn, .sign-up-btn, .start-btn, .learn-more-btn {
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 10px;
}
.login-btn, .learn-more-btn {
    color: white;
}
.learn-more-btn {border: 1px solid var(--white-text);}
.sign-up-btn, .start-btn {
    background-color: var(--white-text);
    color: var(--light-red);
}
select {
    color: var(--white-text);
    background-color: transparent;
    border: none;
    width: 120px;
}

/* FIRST SECTION */
.first-sec {
    padding: 170px 170px 200px 170px;
}
.first-sec-img {
    position: relative;
    top: -250px;
    right: -40px;
    height: 400px;
}
.first-sec-img img {
    transform: scale(0.9);
}

/* SECOND SECTION */
.second-sec {
    color: var(--white-text);
    border-radius: 0 100px 0 100px;
    background: url(/images/bg-pattern-circles.svg), linear-gradient(to right, var(--grey-blue), var(--lighter-blue));
    background-repeat: no-repeat;
    background-position-x: -55%;
    background-position-y: 80%;
    height: 400px;
}
.second-sec-img {
    position: relative;
    height: 300px;
    top: -120px;
    left: -50px;
}

/* THIRD SECTION */
.third-sec {
    padding: 150px 170px;
}
.third-sec-img{
    position: relative;
    left: -450px;
}

footer {
    border-radius: 0 100px 0 0;
}
footer a, footer a:active {
    text-decoration: none;
    color: var(--white-text);
}
footer a:hover {
    color: var(--white-text);
    text-decoration: underline;
}
footer, .attribution {
    color: var(--white-text);
    background-color: var(--dark-grey);
}